<details>
    <summary>Mathematical Foundation for Computer Applications</summary>
    <ul>
        <li>
            <details>
                <summary>Unit-1</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Textbook</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/UQ25CA141A_Textbook_647fcb0c-bbb8-49a7-9012-f0737c5aaca7_20250819101941.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/unit-1/Induction_Examples_UQ25CA141A.pdf"
                                        target="_blank">Examples of Mathematical Induction</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/unit-1/1_Intro_to_sets_UQ25CA141A.pdf"
                                        target="_blank">Intro</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/2_Subsets_UQ25CA141A.pdf"
                                        target="_blank">Subsets</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/3_Set_Operations_UQ25CA141A.pdf"
                                        target="_blank">Set Operations</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/4_Laws_of_Set_Theory_UQ25CA141A.pdf"
                                        target="_blank">Laws of Set Theory</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/5_Inclusion_and_Exclusion_Principle_UQ25CA141A.pdf"
                                        target="_blank">Princilpe of Inclusion and Exclusion</a>
                                </li>
                                <li><a href="/mfca/References viz. Notes/unit-1/6_PIE_Problems_UQ25CA141A.pdf"
                                        target="_blank">Problems on Principle of Inclusion and
                                        Exclusion</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/7_Mathematical_Induction_UQ25CA141A.pdf"
                                        target="_blank">Mathematical Induction</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/8_MI_Problems_UQ25CA141A.pdf"
                                        target="_blank">Problems on MI</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/9_Prime_Numbers_UQ25CA141A.pdf"
                                        target="_blank">Prime Numbers</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/10_Matrix_Theory_UQ25CA141A.pdf"
                                        target="_blank">Matrix Theory</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-1/11_Cramer's_Rule_UQ25CA141A.pdf"
                                        target="_blank">Cramer's Rule</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/unit-1/QB_Unit-1-Maths-UQ25CA141A.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/unit-1/QA_Unit-1-Maths-UQ25CA141A_.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-2</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Textbooks</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/Pigeonhole_Combination_Permutation_Text_UQ25CA141A.pdf"
                                        target="_blank">Pigeonhole Principle</a></li>
                                <li><a href="/mfca/References viz. Notes/Permutation_and_Combination_textbook_UQ25CA141A.pdf"
                                        target="_blank">Permutations and Combinations</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Assignments</summary>
                            <ul>
                                <li><a href="/mfca/assignments/unit-2/UQ25CA141A_647fcb0c-bbb8-49a7-9012-f0737c5aaca7_20250827120706.pdf"
                                        target="_blank" rel="noopener noreferrer">Unit-2 Assignment</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/unit-2/MFCA_Unit-2_Notes_UQ25CA141A.pdf"
                                        target="_blank">PDF</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/MFCA_Unit-2_Additional_Problems_UQ25CA141A.pdf"
                                        target="_blank">Additional Problems</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/unit-2/1_Sum_Rule_UQ25CA141A.pdf"
                                        target="_blank">Sum Rule</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/2_Product_Rule_UQ25CA141A.pdf"
                                        target="_blank">Product Rule</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/3_Product_And_Sum_UQ25CA141A.pdf"
                                        target="_blank">Sum Rule and Product Rule</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/4_Pigeonhole_Principle_UQ25CA141A.pdf"
                                        target="_blank">Pigeonhole Principle</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/5_permutation_with_multiset_UQ25CA141A.pdf"
                                        target="_blank">Permutations</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/6_permutations_UQ25CA141A.pdf"
                                        target="_blank">Problems on Permutations</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/7_permutation_problems_UQ25CA141A.pdf"
                                        target="_blank">Permutations with Multisets</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/8_Combinations_UQ25CA141A.pdf"
                                        target="_blank">Combinations</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/9_permutations_and_combinations_UQ25CA141A.pdf"
                                        target="_blank">Permutations and Combinations</a></li>
                                <li><a href="/mfca/References viz. Notes/unit-2/10_circular_arramgements_UQ25CA141A.pdf"
                                        target="_blank">Circular Arrangements</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/unit-2/unit-2_qb_UQ25CA141A.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/mfca/References viz. Notes/unit-2/unit-2-qa_UQ25CA141A.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</details>