<details>
    <summary>
        Macro Programming
        <sup>
            <a href="/sem-1/mp/"  style="border-bottom: none;">
                <svg width="1em" height="1em" viewBox="0 0 24 30" fill="currentColor" style="vertical-align:middle; margin-left: -0.25em">
                    <path class="cls-1" d="m21,12v6c0,1.6543-1.3457,3-3,3H6c-1.6543,0-3-1.3457-3-3V6c0-1.6543,1.3457-3,3-3h6c.55273,0,1,.44775,1,1s-.44727,1-1,1h-6c-.55176,0-1,.44873-1,1v12c0,.55127.44824,1,1,1h12c.55176,0,1-.44873,1-1v-6c0-.55225.44727-1,1-1s1,.44775,1,1Zm-1-9h-4c-.55273,0-1,.44775-1,1s.44727,1,1,1h1.58594l-9.29297,9.29297c-.39062.39062-.39062,1.02344,0,1.41406.19531.19531.45117.29297.70703.29297s.51172-.09766.70703-.29297l9.29297-9.29297v1.58594c0,.55225.44727,1,1,1s1-.44775,1-1v-4c0-.55225-.44727-1-1-1Z"/>
                </svg>
            </a>
        </sup>
    </summary>
    <ul>
        <li>
            <details>
                <summary>Unit-1</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/static/mp/notes/unit-1/Unit_1_Excel_Notes_UQ25CA142A_0e5009cd-0a5a-4204-9dbc-86c30649bbbd_20250902130301.pdf"
                                        >PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/static/mp/slides/unit-1/01_Intro_to_excel_UQ25CA142A_0e5009cd-0a5a-4204-9dbc-86c30649bbbd_20250812110412.pdf"
                                        >Introduction to Excel</a></li>
                                <li><a href="/static/mp/slides/unit-1/02_Cell_Ref_and_Value_Entry_UQ25CA142A_81cc611d-6817-416f-a334-46e7679f49f1_20250812110605.pdf"
                                        >Cell Reference and Data Entry</a></li>
                                <li><a href="/static/mp/slides/unit-1/03_Basic_Formulas_and_Array_Formulas_UQ25CA142A_c37f2abb-cc40-41a1-8f92-698816100de5_20250812110919.pdf"
                                        >Basic Formulas and Array Formulas</a></li>
                                <li><a href="/static/mp/slides/unit-1/04_Logical_and_Nested_Functions_UQ25CA142A_6ede5687-7445-4bc9-be16-63b281496f0e_20250812111526.pdf"
                                        >Logical and Nested Functions</a></li>
                                <li><a href="/static/mp/slides/unit-1/05_Lookup_VLOOKUP_HLOOKUP_UQ25CA142A_30b38720-2339-4216-9d4e-18aba1b3d21c_20250820185606.pdf"
                                        >Lookup Functions (VLOOKUP, HLOOKUP)</a></li>
                                <li><a href="/static/mp/slides/unit-1/06_INDEX_MATCH_UQ25CA142A_92d6fccf-2cdd-48ad-88a4-236d6ba9ffff_20250826023137.pdf"
                                        >INDEX, MATCH Functions</a></li>
                                <li><a href="/static/mp/slides/unit-1/07_INDIRECT_OFFSET_UQ25CA142A_ce170a10-e1b8-486b-8fab-1ff5dab3b085_20250826023613.pdf"
                                        >INDIRECT, OFFSET Functions</a></li>
                                <li><a href="/static/mp/slides/unit-1/08_Text_Manip_and_Regex_UQ25CA142A_1df1c750-4bba-46b8-9b74-1f05d5dd4f62_20250826024155.pdf"
                                        >Text Manipulation and Regex</a></li>
                                <li><a href="/static/mp/slides/unit-1/09_Data_Val_and_Conditional_Formatting_UQ25CA142A_873b832d-a2f3-4421-9a58-69bb39d89569_20250826024332.pdf"
                                        >Data Validation and Conditional
                                        Formatting</a></li>
                                <li><a href="/static/mp/slides/unit-1/10_GPT_Excel_UQ25CA142A_8779adda-4db0-4fa2-8e46-6d0e4aaee7a2_20250830132156.pdf"
                                        >GPT Excel</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/static/mp/question_bank/UQ25CA142A_0e5009cd-0a5a-4204-9dbc-86c30649bbbd_20250828102912.pdf"
                                        >PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/static/mp/question_bank/QA_UQ25CA142A_0e5009cd-0a5a-4204-9dbc-86c30649bbbd_20250828111611.pdf"
                                        >PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-2</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Assignments</summary>
                            <ul>
                                <li><a href="/static/mp/assignments/unit-2/UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250910125404.pdf"
                                         rel="noopener noreferrer">Unit-2 Assignment</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/static/mp/notes/unit-2/Unit_2_Dasboard_Design_UQ25CA142A_837ead81-17f2-4f72-a1bc-9ff6d7e09161_20250830125655.pdf"
                                        >Dashboard Design Principles</a></li>
                                <li><a href="/static/mp/notes/unit-2/Unit_2_Pivot_Table_Chart_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250910111748.pdf"
                                        >Pivot Table and Pivot Chart</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/static/mp/slides/unit-2/1_PivotTables_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250828152935.pdf"
                                        >Introduction to Pivot Tables</a></li>
                                <li><a href="/static/mp/slides/unit-2/2_Grouping_Sorting_Calculated_Fields_UQ25CA142A_2c33c614-2ce7-4337-b4b7-b9727f5c1ab8_20250828153226.pdf"
                                        >Grouping, Sorting, and Calculated Fields</a>
                                </li>
                                <li><a href="/static/mp/slides/unit-2/3_Missing_Val_Del_Duplicates_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250828152935.pdf"
                                        >Handling Missing Values and Deleting
                                        Duplicates</a></li>
                                <li><a href="/static/mp/slides/unit-2/4_Advanced_Data_Manip_UQ25CA142A_d3a4e8bb-4488-4c8d-996f-e79df9042f1e_20250828162212.pdf"
                                        >Advanced Data Manipulation Functions</a></li>
                                <li><a href="/static/mp/slides/unit-2/5_Dashboard_Design_UQ25CA142A_837ead81-17f2-4f72-a1bc-9ff6d7e09161_20250830123423.pdf"
                                        >Dashboard Design Principles</a></li>
                                <li><a href="/static/mp/slides/unit-2/6_Visualization_Interactive_Controls_UQ25CA142A_def89fcb-5300-4c1c-a214-e026b130ed89_20250830123538.pdf"
                                        >Visualization and Interactive Controls</a></li>
                                <li><a href="/static/mp/slides/unit-2/7_Dynamic_Named_Ranges_UQ25CA142A_8bc8d646-9dbf-4ba7-a8d0-9e2c9232b106_20250830131510.pdf"
                                        >Dynamic Named Ranges</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/static/mp/question_bank/Unit_2_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250910120842.pdf"
                                        >PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/static/mp/question_bank/Unit_2_QA_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250910121807.pdf"
                                        >PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
                <li>
            <details>
                <summary>Unit-3</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Assignments</summary>
                            <ul>
                                <li><a href="/static/mp/"
                                        >Unit-3 Assignment</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/static/mp/notes/unit-3/MP Unit-3 Notes UQ25CA142A.pdf"
                                        >MP Unit-3 Notes</a></li>
                                <li><a href="/static/mp/notes/unit-3/Guide for Breakpoints_UQ25CA152A.pdf"
                                        >Guide for Breakpoints</a></li>
                                <li><a href="/static/mp/notes/unit-3/Guide for Watches_UQ25CA142A.pdf"
                                        >Guide for Watches</a></li>
                                <li><a href="/static/mp/notes/unit-3/Guide to Debugging VBA Code_UQ25CA142A.pdf"
                                        >Guide to Debugging VBA Code</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/static/mp/slides/unit-3/01_Intro_to_VBA_UQ25CA142A.pdf"
                                        >Introduction to VBA</a></li>
                                <li><a href="/static/mp/slides/unit-3/02_Basic_Macro_and_Control_Structure_UQ25CA142A.pdf"
                                        >Basic Macros and Control Structures</a>
                                </li>
                                <li><a href="/static/mp/slides/unit-3/03_EL_Excel_Objects_Properties_UQ25CA142A.pdf"
                                        >EL: Excel Objects, Properties, Methods</a>
                                </li>
                                <li><a href="/static/mp/slides/unit-3/04_EL_Arrarys_Collections_Objects_UQ25CA142A.pdf"
                                        >Arrays, Collectios, Objects</a>
                                </li>
                                <li><a href="/static/mp/slides/unit-3/05_User_Defined_Functions_UQ25CA142A.pdf"
                                        >User Defined Functions and Return Values</a>
                                </li>
                                <li><a href="/static/mp/slides/unit-3/06_User_Forms_Event_Driven_Programming_UQ25CA142A.pdf"
                                        >User Forms and Event Driven Programming</a>
                                </li>
                                <li><a href="/static/mp/slides/unit-3/07_Testing User Forms and Error Handling_UQ25CA142A.pdf"
                                        >Testing User Forms and Error Handling</a>
                                </li>
                                <li><a href="/static/mp/slides/unit-3/08_Debugging VBA and Copilot Automation_UQ25CA142A.pdf"
                                        >Debugging VBA and Copilot Automation</a>
                                </li>
                                <li><a href="/static/mp/slides/unit-3/09_EL Copilot Automation_UQ25CA142A.pdf"
                                        >EL: Copilot Automation</a>
                                </li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/static/mp/question_bank/MP Unit-3 QB UQ25CA142A.pdf"
                                        >MP Unit-3 Question Bank</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/static/mp/question_bank/MP Unit-3 QA UQ25CA142A.pdf"
                                        >MP Unit-3 Question Answers</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</details>