<details>
    <summary>Macro Programming</summary>
    <ul>
        <li>
            <details>
                <summary>Unit-1</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/mp/notes/unit-1/Unit_1_Excel_Notes_UQ25CA142A_0e5009cd-0a5a-4204-9dbc-86c30649bbbd_20250902130301.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/mp/slides/unit-1/01_Intro_to_excel_UQ25CA142A_0e5009cd-0a5a-4204-9dbc-86c30649bbbd_20250812110412.pdf"
                                        target="_blank">Introduction to Excel</a></li>
                                <li><a href="/mp/slides/unit-1/02_Cell_Ref_and_Value_Entry_UQ25CA142A_81cc611d-6817-416f-a334-46e7679f49f1_20250812110605.pdf"
                                        target="_blank">Cell Reference and Data Entry</a></li>
                                <li><a href="/mp/slides/unit-1/03_Basic_Formulas_and_Array_Formulas_UQ25CA142A_c37f2abb-cc40-41a1-8f92-698816100de5_20250812110919.pdf"
                                        target="_blank">Basic Formulas and Array Formulas</a></li>
                                <li><a href="/mp/slides/unit-1/04_Logical_and_Nested_Functions_UQ25CA142A_6ede5687-7445-4bc9-be16-63b281496f0e_20250812111526.pdf"
                                        target="_blank">Logical and Nested Functions</a></li>
                                <li><a href="/mp/slides/unit-1/05_Lookup_VLOOKUP_HLOOKUP_UQ25CA142A_30b38720-2339-4216-9d4e-18aba1b3d21c_20250820185606.pdf"
                                        target="_blank">Lookup Functions (VLOOKUP, HLOOKUP)</a></li>
                                <li><a href="/mp/slides/unit-1/06_INDEX_MATCH_UQ25CA142A_92d6fccf-2cdd-48ad-88a4-236d6ba9ffff_20250826023137.pdf"
                                        target="_blank">INDEX, MATCH Functions</a></li>
                                <li><a href="/mp/slides/unit-1/07_INDIRECT_OFFSET_UQ25CA142A_ce170a10-e1b8-486b-8fab-1ff5dab3b085_20250826023613.pdf"
                                        target="_blank">INDIRECT, OFFSET Functions</a></li>
                                <li><a href="/mp/slides/unit-1/08_Text_Manip_and_Regex_UQ25CA142A_1df1c750-4bba-46b8-9b74-1f05d5dd4f62_20250826024155.pdf"
                                        target="_blank">Text Manipulation and Regex</a></li>
                                <li><a href="/mp/slides/unit-1/09_Data_Val_and_Conditional_Formatting_UQ25CA142A_873b832d-a2f3-4421-9a58-69bb39d89569_20250826024332.pdf"
                                        target="_blank">Data Validation and Conditional
                                        Formatting</a></li>
                                <li><a href="/mp/slides/unit-1/10_GPT_Excel_UQ25CA142A_8779adda-4db0-4fa2-8e46-6d0e4aaee7a2_20250830132156.pdf"
                                        target="_blank">GPT Excel</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/mp/question_bank/UQ25CA142A_0e5009cd-0a5a-4204-9dbc-86c30649bbbd_20250828102912.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/mp/question_bank/QA_UQ25CA142A_0e5009cd-0a5a-4204-9dbc-86c30649bbbd_20250828111611.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-2</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Assignments</summary>
                            <ul>
                                <li><a href="/mp/assignments/unit-2/UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250910125404.pdf"
                                        target="_blank" rel="noopener noreferrer">Unit-2 Assignment</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/mp/notes/unit-2/Unit_2_Dasboard_Design_UQ25CA142A_837ead81-17f2-4f72-a1bc-9ff6d7e09161_20250830125655.pdf"
                                        target="_blank">Dashboard Design Principles</a></li>
                                <li><a href="/mp/notes/unit-2/Unit_2_Pivot_Table_Chart_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250910111748.pdf"
                                        target="_blank">Pivot Table and Pivot Chart</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/mp/slides/unit-2/1_PivotTables_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250828152935.pdf"
                                        target="_blank">Introduction to Pivot Tables</a></li>
                                <li><a href="/mp/slides/unit-2/2_Grouping_Sorting_Calculated_Fields_UQ25CA142A_2c33c614-2ce7-4337-b4b7-b9727f5c1ab8_20250828153226.pdf"
                                        target="_blank">Grouping, Sorting, and Calculated Fields</a>
                                </li>
                                <li><a href="/mp/slides/unit-2/3_Missing_Val_Del_Duplicates_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250828152935.pdf"
                                        target="_blank">Handling Missing Values and Deleting
                                        Duplicates</a></li>
                                <li><a href="/mp/slides/unit-2/4_Advanced_Data_Manip_UQ25CA142A_d3a4e8bb-4488-4c8d-996f-e79df9042f1e_20250828162212.pdf"
                                        target="_blank">Advanced Data Manipulation Functions</a></li>
                                <li><a href="/mp/slides/unit-2/5_Dashboard_Design_UQ25CA142A_837ead81-17f2-4f72-a1bc-9ff6d7e09161_20250830123423.pdf"
                                        target="_blank">Dashboard Design Principles</a></li>
                                <li><a href="/mp/slides/unit-2/6_Visualization_Interactive_Controls_UQ25CA142A_def89fcb-5300-4c1c-a214-e026b130ed89_20250830123538.pdf"
                                        target="_blank">Visualization and Interactive Controls</a></li>
                                <li><a href="/mp/slides/unit-2/7_Dynamic_Named_Ranges_UQ25CA142A_8bc8d646-9dbf-4ba7-a8d0-9e2c9232b106_20250830131510.pdf"
                                        target="_blank">Dynamic Named Ranges</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/mp/question_bank/Unit_2_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250910120842.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/mp/question_bank/Unit_2_QA_UQ25CA142A_03752481-ce9e-49f0-a829-6c45f481d0ce_20250910121807.pdf"
                                        target="_blank">PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</details>