<details>
    <summary>Professional Communication and Ethics</summary>
    <ul>
        <li>
            <details>
                <summary>Unit-1</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/01_Intro_To_Comm_UQ25CA131A.pdf"
                                        target="_blank">Introduction to Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/02_Importance_of_Comm_UQ25CA131A.pdf"
                                        target="_blank">Importance of Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/03_Language_As_A_Tool_Tech_Comm_UQ25CA131A.pdf"
                                        target="_blank">Language as a Tool and Technical
                                        Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/07_Barries_to_Comm_UQ25CA131A.pdf"
                                        target="_blank">Barriers to Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/08_Verbal_and_Non_Verbal_UQ25CA131A.pdf"
                                        target="_blank">Verbal and Non-Verbal Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/09_Tech_in_Comm_UQ25CA131A.pdf"
                                        target="_blank">Technology in Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/13_listening_skills_UQ25CA131A.pdf"
                                        target="_blank">Listening Skills</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-2</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/01_intro_to_group_comm_UQ25CA131A.pdf"
                                        target="_blank">Introduction to Group Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/02_organizational_gd_meeting_conference_UQ25CA131A.pdf"
                                        target="_blank">Organizational Group Discussion, Meetings, and Conferences</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/03_aspects_of_group_behaviour_UQ25CA131A.pdf"
                                        target="_blank">Aspects of Group Behaviour</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/04_intro_to_written_comm_UQ25CA131A.pdf"
                                        target="_blank">Introduction to Group Behaviour</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/05_paragraph_development_business_letters_UQ25CA131A.pdf"
                                        target="_blank">Paragraph Development, Businesss Letters</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/06_memos_email_cv_resume_UQ25CA131A.pdf"
                                        target="_blank">Memo, Email, Cover Letter, and Resume</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/07_report_writing_UQ25CA131A.pdf"
                                        target="_blank">Report Writing Skills</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/08_official_letters_UQ25CA131A.pdf"
                                    target="_blank">Official Letters</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-2/09_essay_writing_UQ25CA131A.pdf"
                                    target="_blank">Essay Writing</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-3</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-3/01_Intro_to_Presentations_UQ25CA131A.pdf"
                                        target="_blank">Introduction to Presentations and Types of Presentations</a></li>
                                <li><a href="/static/pce/slides/unit-3/02_Tools_for_Presentation_UQ25CA131A.pdf"
                                        target="_blank">Tools for Presentation</a></li>
                                <li><a href="/static/pce/slides/unit-3/03_Understanding_the_audience_UQ25CA131A.pdf"
                                        target="_blank">Understanding the Audience and Rules</a></li>
                                <li><a href="/static/pce/slides/unit-3/04_Planning_Presentation_Content_UQ25CA131A.pdf"
                                        target="_blank">Planning and Organizing Presentation Content</a></li>
                                <li><a href="/static/pce/slides/unit-3/05_Handling_Questions_and_Feedback_UQ25CA131A.pdf"
                                        target="_blank">Handling Questions and Feedback</a></li>
                                <li><a href="/static/pce/slides/unit-3/06_Poster_Designing_UQ25CA131A.pdf"
                                        target="_blank">Poster Designing: Principles and Examples</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</details>