<details>
    <summary>Professional Communication and Ethics</summary>
    <ul>
        <li>
            <details>
                <summary>Unit-1</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/01_Intro_To_Comm_UQ25CA131A_dead6bda-fd9e-4a33-8716-a240cf304654_20250804024957.pdf"
                                        target="_blank">Introduction to Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/02_Importance_of_Comm_UQ25CA131A_9170fec2-ba07-49b5-8077-c4216485b503_20250804025035.pdf"
                                        target="_blank">Importance of Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/03_Language_As_A_Tool_Tech_Comm_UQ25CA131A_c41d8bd1-8029-4339-b76d-03b6dc599859_20250804025358.pdf"
                                        target="_blank">Language as a Tool and Technical
                                        Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/07_Barries_to_Comm_UQ25CA131A_952c7ee2-1dab-4db4-83c6-6a69ee1dc42c_20250804025502.pdf"
                                        target="_blank">Barriers to Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/08_Verbal_and_Non_Verbal_UQ25CA131A_6b7292fc-833c-4b38-8fa5-fbd514a41312_20250804025534.pdf"
                                        target="_blank">Verbal and Non-Verbal Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/09_Tech_in_Comm_UQ25CA131A_0bf7a55c-71b7-437c-91b5-2eacf3c3fbef_20250804025622.pdf"
                                        target="_blank">Technology in Communication</a></li>
                                <li><a href="/pdf-viewer/?file=/pce/slides/unit-1/13_listening_skills_UQ25CA131A_a5138154-ce87-4239-ac02-bbc5a4b7a9bd_20250804030022.pdf"
                                        target="_blank">Listening Skills</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-2</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="" target="_blank">PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</details>