{% extends "base.html" %}

{% block main_content %}
    <h1>Privacy and Cookie Policy</h1>
    <p>Last Updated: 29-11-25</p>

    <p>Below is a detailed outline of how and what data is collected, used, and stored as you use this site.</p>
    <h2>Data Collection</h2>
    <p>PostHog analytics is used to collect the following data:
        <ul>
            <li>Login events</li>
            <li>Autocapture events (button clicks, console errors, etc.)</li>
            <li>Session Recordings (reconstruction of your actions on the site after logging in)</li>
        </ul>
    </p>
    <p>This data helps in understanding what aspects of the site need more focus/improvement and which are performing well.</p>
    <h2>Data Usage</h2>
    <p>The data collected is used only for improving the site, fixing and identifying bugs, and performance improvements. 
        <em>No data is shared with any third party.</em></p>

    <h2>Data Retention</h2>
    <p>The aforementioned data is stored securly within PostHog and periodically deleted.</p>
    <p>Session Recordings are deleted by PostHog 30 days since the date of creation.</p>
    <p>Please note that Session Recordings are not literal screen recordings, but simply a reconstruction of what actions you take.</p>
    <p>This means that text input, notifications, and anything outside the site is not captured.</p>

    <h2>Changes to this Policy</h2>
    <p>This policy will be updated as and when required. Changes will be updated on this page in advance.</p>
{% endblock main_content %}