<details>
    <summary>
        Web Design
        <sup>
            <a href="/sem-1/web-design/"  style="border-bottom: none;">
                <svg width="1em" height="1em" viewBox="0 0 24 30" fill="currentColor" style="vertical-align:middle; margin-left: -0.25em">
                    <path class="cls-1" d="m21,12v6c0,1.6543-1.3457,3-3,3H6c-1.6543,0-3-1.3457-3-3V6c0-1.6543,1.3457-3,3-3h6c.55273,0,1,.44775,1,1s-.44727,1-1,1h-6c-.55176,0-1,.44873-1,1v12c0,.55127.44824,1,1,1h12c.55176,0,1-.44873,1-1v-6c0-.55225.44727-1,1-1s1,.44775,1,1Zm-1-9h-4c-.55273,0-1,.44775-1,1s.44727,1,1,1h1.58594l-9.29297,9.29297c-.39062.39062-.39062,1.02344,0,1.41406.19531.19531.45117.29297.70703.29297s.51172-.09766.70703-.29297l9.29297-9.29297v1.58594c0,.55225.44727,1,1,1s1-.44775,1-1v-4c0-.55225-.44727-1-1-1Z"/>
                </svg>
            </a>
        </sup>
    </summary>
    <ul>
        <li>
            <details>
                <summary>Unit-1</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/static/wd/unit-1/Notes_Unit_1_UQ25CA152A_Web_Design.pdf" >PDF</a>
                                </li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/static/wd/unit-1/slides/1_Internet_Fundamentals_UQ25CA152A.pdf"
                                        >Internet Fundamentals</a></li>
                                <li><a href="/static/wd/unit-1/slides/2_how_web_pages_work_UQ25CA152A.pdf" >How
                                        web pages work</a></li>
                                <li><a href="/static/wd/unit-1/slides/3_Client_Server_Architecture_UQ25CA152A.pdf"
                                        >Client-Server Architecture</a></li>
                                <li><a href="/static/wd/unit-1/slides/4_web_dev_life_cycle_UQ25CA152A.pdf" >Web
                                        Development Life Cycle</a></li>
                                <li><a href="/static/wd/unit-1/slides/5_ROI_of_Good_Design_UQ25CA152A.pdf" >ROI
                                        of Good Design</a></li>
                                <li><a href="/static/wd/unit-1/slides/6_Wireframing_UQ25CA152A.pdf"
                                        >Wireframing</a></li>
                                <li><a href="/static/wd/unit-1/slides/7_Storyboarding_UQ25CA152A.pdf"
                                        >Storyboarding</a></li>
                                <li><a href="/static/wd/unit-1/slides/8_web_standards_and_benefits_UQ25CA152A.pdf"
                                        >Web Standards and Benefits</a></li>
                                <li><a href="/static/wd/unit-1/slides/9_Basic_HTML_web_page_content_UQ25CA152A.pdf"
                                        >Basic HTML Structure (Web page content
                                        basics)</a></li>
                                <li><a href="/static/wd/unit-1/slides/10_basic_tags_in_html_UQ25CA152A.pdf"
                                        >Basic Tags in HTML</a></li>
                                <li><a href="/static/wd/unit-1/slides/11_basic_tags_sample_programs_UQ25CA152A.pdf"
                                        >Basic Tags and Sample Programs</a></li>
                                <li><a href="/static/wd/unit-1/slides/12_font_and_marquee_UQ25CA152A.pdf" >Font
                                        and Marquee Tag</a></li>
                                <li><a href="/static/wd/unit-1/slides/13_html_colors_UQ25CA152A.pdf" >HTML
                                        Colors</a></li>
                                <li><a href="/static/wd/unit-1/slides/14_el_programs_UQ25CA152A.pdf" >EL
                                        Programs</a></li>
                                <li><a href="/static/wd/unit-1/slides/15_information_architecture_UQ25CA152A.pdf"
                                        >Essentials of Web Design and Development
                                        Tool (Information Architecture, Workspaces, etc.)</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/static/wd/unit-1/QB_WD_Unit_1_UQ25CA152A.pdf" >PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/static/wd/unit-1/QA_WD_Unit_1_UQ25CA152A.pdf" >PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-2</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Assignments</summary>
                            <ul>
                                <li><a href="/static/wd/unit-2/assignments/UQ25CA152A_afadd938-a35d-4911-97d4-25f8857b9ba8_20250911114315.pdf">
                                    Unit-2 Assignment</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/static/wd/unit-2/WD_Notes_Unit_2_UQ25CA152A.pdf" >PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/static/wd/unit-2/slides/1_img_tag.pdf" >Image
                                        Tag</a></li>
                                <li><a href="/static/wd/unit-2/slides/2_img_tag_eg_UQ25CA152A.pdf"
                                        >Image Tag Examples</a></li>
                                <li><a href="/static/wd/unit-2/slides/3_anchor_tag_UQ25CA152A.pdf"
                                        >Anchor Tag - Hyperlinks</a></li>
                                <li><a href="/static/wd/unit-2/slides/4_el_anchor_tag_UQ25CA152A.pdf"
                                        >EL Program on Anchor Tag</a></li>
                                <li><a href="/static/wd/unit-2/slides/5_list_tag_UQ25CA152A.pdf"
                                        >List Tag</a></li>
                                <li><a href="/static/wd/unit-2/slides/6_types_of_list_tag_UQ25CA152A.pdf"
                                        >Types of lists</a></li>
                                <li><a href="/static/wd/unit-2/slides/7_el_programs_list_tag_UQ25CA152A.pdf"
                                        >EL Programs on List Tag</a></li>
                                <li><a href="/static/wd/unit-2/slides/8_table_tag_UQ25CA152A.pdf"
                                        >Table Tag</a></li>
                                <li><a href="/static/wd/unit-2/slides/9_el_programs_table_tag_UQ25CA152A.pdf"
                                        >EL Programs on Table Tag</a></li>
                                <li><a href="/static/wd/unit-2/slides/10_form_tag_UQ25CA152A.pdf" >Form Tag</a>
                                </li>
                                <li><a href="/static/wd/unit-2/slides/11_form_tag_UQ25CA152A.pdf" >Form Tag
                                        Controls</a></li>
                                <li><a href="/static/wd/unit-2/slides/12_el_programs_on_form_tag_UQ25CA152A.pdf"
                                        >EL Programs on Form
                                        Tag</a></li>
                                <li><a href="/static/wd/unit-2/slides/13_html_audio_and_video_tag_UQ25CA152A.pdf"
                                        >HTML Audio and
                                        Video Tag</a></li>
                                <li><a href="/static/wd/unit-2/slides/14_html_plugins_UQ25CA152A.pdf" >HTML
                                        Plugins</a>
                                </li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/static/wd/unit-2/QB_WD_Unit_2_UQ25CA152A.pdf" >PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/static/wd/unit-2/QA_WD_Unit_2_UQ25CA152A.pdf" >PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-3</summary>
                <ul>
                    <li>
                        <details>
                        <summary>Assignments</summary>
                            <ul>
                                <li><a href="/static/wd/unit-3/assignments/WD_Unit_3_Assignment_1_UQ25CA152A.pdf">WD Unit-3 Assignment 1</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/static/wd/unit-3/slides/01_Intro_to_CSS_UQ25CA152A.pdf">Introduction to CSS</a></li>
                                <li><a href="/static/wd/unit-3/slides/02_Levels_of_CSS_UQ25CA152A.pdf">Levels of CSS</a></li>
                                <li><a href="/static/wd/unit-3/slides/03_Types_of_Selectors_UQ25CA152A.pdf">Types of Selectors</a></li>
                                <li><a href="/static/wd/unit-3/slides/04_EL_Programs_on_Selectors_UQ25CA152A.pdf">EL Programs on Selectors</a></li>
                                <li><a href="/static/wd/unit-3/slides/05_Property_Value_Forms_UQ25CA152A.pdf">Property Value Forms</a></li>
                                <li><a href="/static/wd/unit-3/slides/06_CSS_Web_Fonts_UQ25CA152A.pdf">CSS Web Fonts</a></li>
                                <li><a href="/static/wd/unit-3/slides/07_Font_Style_Properties_UQ25CA152A.pdf">Font Style Properties</a></li>
                                <li><a href="/static/wd/unit-3/slides/08_Text Properties_UQ25CA152A.pdf">Text Properties</a></li>
                                <li><a href="/static/wd/unit-3/slides/09_background img and div tag_UQ25CA152A.pdf">Background Image and &lt;div&gt; tag</a></li>
                                <li><a href="/static/wd/unit-3/slides/10_gradients_UQ25CA152A.pdf">Gradients</a></li>
                                <li><a href="/static/wd/unit-3/slides/11_transitions_UQ25CA152A.pdf">Transitions</a></li>
                                <li><a href="/static/wd/unit-3/slides/12_animations_UQ25CA152A.pdf">Animations</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/static/wd/unit-3/notes/CSS Notes_UQ25CA152A.pdf" >WD CSS Notes</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/static/wd/unit-3/WD Unit 3 QB UQ25CA152A.pdf" >WD CSS QB</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/static/wd/unit-3/WD Unit 3 QA UQ25CA152A.pdf" >WD CSS QA</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-4</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/static/wd/unit-4/slides/1_Intro to Javascript_UQ25CA152A.pdf">Introduction to Javascript</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/static/wd/unit-4/notes/" >PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/static/wd/unit-4/" >PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/static/wd/unit-4/" >PDF Not Uploaded</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</details>