<details>
    <summary>Web Design</summary>
    <ul>
        <li>
            <details>
                <summary>Unit-1</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/wd/unit-1/Notes_Unit_1_UQ25CA152A_Web_Design.pdf" target="_blank">PDF</a>
                                </li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/wd/unit-1/slides/1_Internet_Fundamentals_UQ25CA152A.pdf"
                                        target="_blank">Internet Fundamentals</a></li>
                                <li><a href="/wd/unit-1/slides/2_how_web_pages_work_UQ25CA152A.pdf" target="_blank">How
                                        web pages work</a></li>
                                <li><a href="/wd/unit-1/slides/3_Client_Server_Architecture_UQ25CA152A.pdf"
                                        target="_blank">Client-Server Architecture</a></li>
                                <li><a href="/wd/unit-1/slides/4_web_dev_life_cycle_UQ25CA152A.pdf" target="_blank">Web
                                        Development Life Cycle</a></li>
                                <li><a href="/wd/unit-1/slides/5_ROI_of_Good_Design_UQ25CA152A.pdf" target="_blank">ROI
                                        of Good Design</a></li>
                                <li><a href="/wd/unit-1/slides/6_Wireframing_UQ25CA152A.pdf"
                                        target="_blank">Wireframing</a></li>
                                <li><a href="/wd/unit-1/slides/7_Storyboarding_UQ25CA152A.pdf"
                                        target="_blank">Storyboarding</a></li>
                                <li><a href="/wd/unit-1/slides/8_web_standards_and_benefits_UQ25CA152A.pdf"
                                        target="_blank">Web Standards and Benefits</a></li>
                                <li><a href="/wd/unit-1/slides/9_Basic_HTML_web_page_content_UQ25CA152A.pdf"
                                        target="_blank">Basic HTML Structure (Web page content
                                        basics)</a></li>
                                <li><a href="/wd/unit-1/slides/10_basic_tags_in_html_UQ25CA152A.pdf"
                                        target="_blank">Basic Tags in HTML</a></li>
                                <li><a href="/wd/unit-1/slides/11_basic_tags_sample_programs_UQ25CA152A.pdf"
                                        target="_blank">Basic Tags and Sample Programs</a></li>
                                <li><a href="/wd/unit-1/slides/12_font_and_marquee_UQ25CA152A.pdf" target="_blank">Font
                                        and Marquee Tag</a></li>
                                <li><a href="/wd/unit-1/slides/13_html_colors_UQ25CA152A.pdf" target="_blank">HTML
                                        Colors</a></li>
                                <li><a href="/wd/unit-1/slides/14_el_programs_UQ25CA152A.pdf" target="_blank">EL
                                        Programs</a></li>
                                <li><a href="/wd/unit-1/slides/15_information_architecture_UQ25CA152A.pdf"
                                        target="_blank">Essentials of Web Design and Development
                                        Tool (Information Architecture, Workspaces, etc.)</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/static/wd/unit-1/QB_WD_Unit_2_UQ25CA152A.pdf" target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/wd/unit-1/QA_WD_Unit_1_UQ25CA152A.pdf" target="_blank">PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
        <li>
            <details>
                <summary>Unit-2</summary>
                <ul>
                    <li>
                        <details>
                            <summary>Assignments</summary>
                            <ul>
                                <li><a href="/wd/unit-2/assignments/UQ25CA152A_afadd938-a35d-4911-97d4-25f8857b9ba8_20250911114315.pdf"
                                        target="_blank" rel="noopener noreferrer">Unit-2 Assignment</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Notes</summary>
                            <ul>
                                <li><a href="/wd/unit-2/WD_Notes_Unit_2_UQ25CA152A.pdf" target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Slides</summary>
                            <ul>
                                <li><a href="/wd/unit-2/slides/1_img_tag.pdf" target="_blank">Image
                                        Tag</a></li>
                                <li><a href="/wd/unit-2/slides/2_img_tag_eg_UQ25CA152A_5125d0dc-d12e-409e-8282-190f7a562891_20250902180119.pdf"
                                        target="_blank">Image Tag Examples</a></li>
                                <li><a href="/wd/unit-2/slides/3_anchor_tag_UQ25CA152A_f8f1a84a-a680-424b-9aaa-de95d5deaa9e_20250902180418.pdf"
                                        target="_blank">Anchor Tag - Hyperlinks</a></li>
                                <li><a href="/wd/unit-2/slides/4_el_anchor_tag_UQ25CA152A_068a714c-0c9e-429a-bf1b-9080a07a7e02_20250910200300.pdf"
                                        target="_blank">EL Program on Anchor Tag</a></li>
                                <li><a href="/wd/unit-2/slides/5_list_tag_UQ25CA152A_4d569bb5-8519-4ea0-8db2-61abb190795a_20250910195107.pdf"
                                        target="_blank">List Tag</a></li>
                                <li><a href="/wd/unit-2/slides/6_types_of_list_tag_UQ25CA152A_a0a19b37-d284-4f0a-97e3-75808e0a6ce8_20250910200734.pdf"
                                        target="_blank">Types of lists</a></li>
                                <li><a href="/wd/unit-2/slides/7_el_programs_list_tag_UQ25CA152A_4244dcd6-9962-430a-b634-3f960c744eaa_20250910201902.pdf"
                                        target="_blank">EL Programs on List Tag</a></li>
                                <li><a href="/wd/unit-2/slides/8_table_tag_UQ25CA152A_62ff44e4-9499-4e39-8195-86f19bf63d17_20250910195003.pdf"
                                        target="_blank">Table Tag</a></li>
                                <li><a href="/wd/unit-2/slides/9_el_programs_table_tag_UQ25CA152A_94a7f5dc-e597-467f-ab5b-56a520499a28_20250910195802.pdf"
                                        target="_blank">EL Programs on Table Tag</a></li>
                                <li><a href="/wd/unit-2/slides/10_form_tag_UQ25CA152A.pdf" target="_blank">Form Tag</a>
                                </li>
                                <li><a href="/wd/unit-2/slides/11_form_tag_UQ25CA152A.pdf" target="_blank">Form Tag
                                        Controls</a></li>
                                <li><a href="/wd/unit-2/slides/12_el_programs_on_form_tag_UQ25CA152A.pdf"
                                        target="_blank">EL Programs on Form
                                        Tag</a></li>
                                <li><a href="/wd/unit-2/slides/13_html_audio_and_video_tag_UQ25CA152A.pdf"
                                        target="_blank">HTML Audio and
                                        Video Tag</a></li>
                                <li><a href="/wd/unit-2/slides/14_html_plugins_UQ25CA152A.pdf" target="_blank">HTML
                                        Plugins</a>
                                </li>
                            </ul>
                        </details>
                        <details>
                            <summary>Question Bank</summary>
                            <ul>
                                <li><a href="/wd/unit-2/QB_WD_Unit_2_UQ25CA152A.pdf" target="_blank">PDF</a></li>
                            </ul>
                        </details>
                        <details>
                            <summary>Sample Question Answers</summary>
                            <ul>
                                <li><a href="/wd/unit-2/QA_WD_Unit_2_UQ25CA152A.pdf" target="_blank">PDF</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</details>